.DS_Store Handy.xcodeproj/
*.xcuserstate

*.xcscheme

Handy.xcodeproj/xcuserdata/maiquez.xcuserdatad/xcschemes/xcschememanagement.plist

Handy.xcodeproj/project.pbxproj

*.pbxproj

Handy.xcodeproj/project.pbxproj

*.pbxproj

Handy.xcodeproj/project.pbxproj

*.xcbkptlist

*.pbxproj
